body {
  font-size: 10px;
}

.left {
  background-color: #f0f0f0;
  width: 175px;
  height: 100vh;
}

.left .logo {
  text-align: center;
  margin-bottom: 20px;
}

.left img {
  width: 120px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.left h1 {
  margin: 5px auto 0 auto;
  font-family: serif;
  font-size: 2.0rem;
}

.left h2 {
  margin: 0;
  font-family: serif;
  font-size: 1.2rem;
}

.left ul {
  list-style-type: none;
  font-size: 1.2rem;
}

.left h4 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-left: 40px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.left li {
  color: #30a;
}

.top {
  background-color: #f0f0f0;
  height: 75px;
  padding-top: 40px;
}

.top .nav {
}

.container {
  margin-left: 175px;
}
