body {
  font-size: 10px;
}

.nav {
  background-color: #ccc;
  width: 200px;
  float: left;
}

.nav .logo {
  text-align: center;
  margin-bottom: 20px;
}

.nav img {
  width: 120px;
  margin: 5px 40px;
}

.nav h1 {
  margin: 5px auto 0 auto;
  font-family: serif;
  font-size: 2.0rem;
}

.nav h2 {
  margin: 0;
  font-family: serif;
  font-size: 1.2rem;
}

.nav ul {
  list-style-type: none;
}
